* {
    box-sizing: border-box;
}

 body {
    position: absolute;
    margin: 0;
 }

 .content {
    position: relative;
    top: 120px;
    left: 220px;


 }
header {
    position: fixed;
    height: 89px;
	width: 1440px;
	background: #590BFF;
	height: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    z-index: 100;
}

.saidbar__wrapper {
    position: fixed;
    border-right: 2px solid #C4C4C4;
    width: 200px;
    top: 120px;
}

.saidbar a {
    color: orange;
    position: fixed;

}


.title {
    text-align: center;
    padding-top: 20px;

}



.book__title {
    position: sticky;
    top: 120px;
    background: #590BFF;
    color: white;
    Width: 1080px;
    Height: 41px;
    padding: 4px 0 0 13px;
}



.saidbar__wrapper {
    position: fixed;
   
}



